<div class="row">
    <div class="col-12 p-1">
        <button class="btn btn-outline-info" (click)="changeState(renderEnums.trends)"
            [class.active]="(state$ | async) === renderEnums.trends">
            Trends
        </button>
        <button class="btn btn-outline-info mx-1" (click)="changeState(renderEnums.search)"
            [class.active]="(state$ | async) === renderEnums.search">
            Search
        </button>
        <button class="btn btn-outline-info" (click)="changeState(renderEnums.upload)"
            [class.active]="(state$ | async) === renderEnums.upload">
            Upload
        </button>
    </div>
</div>
<ng-container [ngSwitch]="state$ | async">
    <app-trends *ngSwitchCase="renderEnums.trends"></app-trends>
    <app-search *ngSwitchCase="renderEnums.search"></app-search>
    <app-upload *ngSwitchCase="renderEnums.upload"></app-upload>
</ng-container>